@import url('https://fonts.googleapis.com/css?family=Homenaje');

body {
  margin: 0; /* Remove default body margin */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
  background-color: #000; /* Set a background color for the body */
}

.p-canvas-webgl {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.p-summary {
  position: absolute;
  bottom: 20px; /* Adjust the bottom spacing as needed */
  z-index: 2;
  color: #fff;
  font-family: 'Homenaje', sans-serif;
  text-align: center; /* Center-align text */
}

h1 {
  margin: 0 0 0.2em;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

p {
  margin: 0;
  font-size: 30px;
  letter-spacing: 0.1em;
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
}
